                         
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [90]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df= pd.read_csv(purchase_csv)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [91]:
total_players = purchase_df["SN"].value_counts()
total_players

Lisosia93        5
Iral74           4
Idastidru52      4
Hiaral50         3
Phaena87         3
                ..
Asur96           1
Mindirranya33    1
Sundim98         1
Lisassa64        1
Eoral49          1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
uniqueitems = purchase_df["Item Name"].unique()
uniqueitems

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [93]:

 purchase_df["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Celeste                                          1
Riddle, Tribute of Ended Dreams                  1
Alpha, Reach of Ending Hope                      1
Gladiator's Glaive                               1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64

In [94]:
uniqueItem_count = purchase_df["Item Name"].value_counts()
uniqueItem_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Celeste                                          1
Riddle, Tribute of Ended Dreams                  1
Alpha, Reach of Ending Hope                      1
Gladiator's Glaive                               1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64

In [95]:
average= purchase_df["Price"].mean()
average

3.050987179487176

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [106]:
purchase_df["Gender"].value_counts()

gender_df.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [108]:
gender_df=purchase_df["Gender"].value_counts()

gender_df.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [105]:
total= male + female+ Other / non-disclosed 
print

NameError: name 'male' is not defined

In [100]:
total_gender= purchase_df["Gender"].counts()
male= purchase_df["Gender"].value_counts()['male']
female = purchase_df["Gender"].value_counts()['female']
other_non-disclosed= total_gender-male-female

print(f" Total:{total_gender}\n Male:{male}\n Female:{female}\n Other/Non-Disclosed:{other/non-disclosed}")

SyntaxError: can't assign to operator (<ipython-input-100-59ba3710c627>, line 4)

In [101]:
male_percent =(male/total_gender) *100
print

NameError: name 'male' is not defined

In [102]:
male_percent =(male/total_gender) *100
female_percent =(male/total_gender) *100
other/non-disclosed =(other/non-disclosed/total_gender) *100
print(
    f" %Male:{male_percent}\n %Female{female_percent}\n %Other/Non-Disclose:{other/non-disclosed_-percent}"

)

SyntaxError: can't assign to operator (<ipython-input-102-b0bb1c5ce1ae>, line 3)

In [104]:
gender_data=pd.DataFrame({
    "Gender":["Male","Female","Other/Non-Disclosed"],
    "Total count":[652,113,15],
})
gender_data.head()

                Gender  Total count
0                 Male          652
1               Female          113
2  Other/Non-Disclosed           15

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
grouped_gender_df=purchase_df.groupby("Gender")
grouped_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [133]:
perchase_count =grouped_gender_df.count()
perchase_count.head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [136]:
Total_Purchase_Value=grouped_gender_df["Price"].sum()
Total_Purchase_Value.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [140]:

# need $sign
Total_Purchase_Value=grouped_gender_df["Total_Purchase_Value"].astype(float). map("${:,.2f}".format)
Total_Purchase_Value.head()

KeyError: 'Column not found: Total_Purchase_Value'

In [130]:

Average_purchase_Price=grouped_gender_df["Price"].mean()
Average_purchase_Price.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [144]:

grouped_gender_df[summary]=purchase_df.groupby("Gender").summary()
grouped_gender_df.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'summary'

## Age Demographics

In [145]:
print(purchase_df["Age"].max())
print(purchase_df["Age"].min())

45
7

In [ ]:
bins=[0,10,14,19,24,29,34,39,40,45]
group_labels =[<10,10-14,15-19,20-24,25-29,30-34,35-39,40+ ]

In [146]:
pd.cut(purchase_df["Age"],bins, labels=group_labels).head()

NameError: name 'bins' is not defined

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
print()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80